= form_for :track, :url => album_tracks_path, :html => { :method => 'post' } do |f|
  -if @track.errors.any?
    #error_explanation
      %h2= "#{pluralize(@track.errors.count, "error")} prohibited this track from being saved:"
      %ul
        - @track.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :duration
    = f.text_field :duration
  .actions
    = f.submit 'Save'
