= form_for [:album,@track] do |f|
  -if @track.errors.any?
    .error
      %h2= "#{pluralize(@track.errors.count, "error")} prohibited this track from being saved:"
      %ul
        - @track.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :title
    %br
    = f.text_field :title, :class => 'text'
  %p
    = f.label :duration
    %br
    = f.text_field :duration, :class => 'text'
  %p
    = submit_for 'Save'
