%p#notice= notice

%p
  %b Title:
  = @track.title
%p
  %b Duration:
  = @track.duration
- if current_user && current_user == @user
  = link_to 'Edit', edit_user_album_track_path(@user, params[:album_id])
  \|
= link_to 'Back', album_tracks_path
