%h1 Listing artists

%table
  %tr
    %th Name
    %th{:colspan => 4} Actions

  - @artists.each do |artist|
    %tr
      %td= artist.name
      %td= link_to 'Show', user_artist_path(current_user, artist)
      %td= link_to 'Edit', edit_user_artist_path(current_user, artist)
      %td= link_to 'Destroy', user_artist_path(current_user, artist), :confirm => 'Are you sure?', :method => :delete
      %td= link_to 'Albums', user_artist_albums_path(current_user, artist)
%br

= link_to 'New Artist', new_user_artist_path(current_user)
