%h1 Listing artists

%table
  %thead
    %th Artist Name
    %th Albums
    %th Real name
    %th Homepage
    %th Twitter
    %th{:colspan => 4} Actions
  %tbody
  = will_paginate @artists
  - @artists.each do |artist|
    %tr
      %td= link_to artist.artist_name, user_artist_path(artist.user, artist)
      %td= link_to 'Albums', artist_albums_path(artist)
      %td= artist.real_name
      %td= link_to artist.homepage
      %td= link_to artist.twitter, twitter_url(artist.twitter)
      %td
        = link_to 'Show', user_artist_path(artist.user, artist)
        %br
        - if can? :manage, Artist
          = link_to 'Edit', edit_user_artist_path(artist.user, artist)
          %br
            = link_to 'Destroy', user_artist_path(artist.user, artist), :confirm => 'Are you sure?', :method => :delete
%br

- if can? :manage, Artist
  = link_to 'New Artist', new_user_artist_path(current_user)
  \|
= link_to 'Back', @user
