%table
  %thead
    %th Cover
    %th Title
    %th Tracks
    %th Subtitle
    %th Description
    %th Issue date
    %th{ :colspan => 4} Actions
  %tbody
  - @albums.each do |album|
    %tr
      %td= image_tag album.cover.url(:thumb)
      %td
        = link_to album.title, user_album_path(album.user, album)
        %br
          = link_to album.artist.artist_name, artist_albums_path(album.artist)
      %td= link_to 'Tracks', album_tracks_path(album)
      %td= album.subtitle
      %td= album.description
      %td= album.issue_date
      - if album.user == current_user
        %td
          = link_to 'Edit', edit_user_album_path(album.user, album)
          %br
            = link_to 'Destroy', user_album_path(album.user, album), :confirm => 'Are you sure?', :method => :delete
%br