%h1 User details
%p Here you can read about the artists and albums.
%br
  %strong Email
  = mail_to @user.email
  %br
    %strong Nick name
    #{@user.nickname}
    %br
      %strong Name
      #{@user.full_name}
      %br
        %strong Artists
        #{link_to 'Artists', user_artists_path(@user)}
%h2 Albums of #{@user.nickname}
= render_widget :album_list, :albums => @user.albums

- if can? :manage, Album
  = link_to 'New album', new_user_album_path(@user)
  \|
- if can? :manage, Artist
  = link_to 'New artist', new_user_artist_path(@user)
  \|
= link_to 'Back', users_path