%h1 Welcome to artothek
%p Feel free to login and manage your favorite artists in your library
%p Here you can view all #{link_to 'users', users_path}
%h3 If you like, you can search for the following:
= form_for('search', :url => '', :html => { :method => 'get'}) do |f|
  %p
    %label Album
    %br
    = f.text_field :album_title, :class => 'text'
    = submit_for('Search')
    %br
  %p

    %label Tracks
    %br
    = f.text_field :album_tracks, :class => 'text'
    = submit_for('Search')
