= form_for([current_user, @album], :html => { :multipart => true}) do |f|
  -if @album.errors.any?
    .error
      %h2= "#{pluralize(@album.errors.count, "error")} prohibited this album from being saved:"
      %ul
        - @album.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :title
    %br
    = f.text_field :title, :class => 'text'
  %p
    = f.label :artist_id
    %br
    = f.collection_select :artist_id, current_user.artists, :id, :artist_name, { :selected => params[:artist_id]}, :class => 'select'
  %p
    = f.label :issue_date
    %br
    = f.text_field :issue_date, :id => 'datepicker', :class => 'text'
  %p
    = f.label :subtitle
    %br
    = f.text_field :subtitle, :class => 'text'
  %p
    = f.label :description
    %br
    = f.text_area :description, :rows => 5, :class => 'textarea'
  %p
    = f.label :cover
    %br
    = f.file_field :cover
  %p
    %br
    = submit_for('Save')
