= form_for :album, :url => user_albums_path(current_user), :html => { :multipart => true, :method => 'post'} do |f|
  -if @album.errors.any?
    #error_explanation
      %h2= "#{pluralize(@album.errors.count, "error")} prohibited this album from being saved:"
      %ul
        - @album.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %p
      = f.label :title
      %br
      = f.text_field :title
    %p
      = f.label :artist_id
      %br
      = f.collection_select :artist_id, current_user.artists, :id, :name
    %p
      = f.label :subtitle
      %br
      = f.text_field :subtitle
    %p
      = f.label :description
      %br
      = f.text_area :description
    %p
      = f.label :issue_date
      %br
      = f.date_select :issue_date
    %p
      = f.label :cover
      %br
      = f.file_field :cover
    %p
      = f.submit 'Save'
