%p
  = image_tag @album.cover.url(:medium)
%p
  %b Title:
  = @album.title
%p
  %b Subtitle:
  = @album.subtitle
%p
  %b Description:
  = @album.description
%p
  %b Issue date:
  = @album.issue_date

= render_widget :track_list, :tracks => @album.tracks

- if can? :manage, @album
  = link_to 'New Track', new_album_track_path(@album)
  \|
  = link_to 'Edit', edit_album_path(@album)
  \|
= link_to 'Back', user_albums_path(@album.user)
