!!!
%html
  %head
    %title Artothek
    = stylesheet_link_tag 'css/cupertino/jquery-ui-1.8.9.custom'
    = stylesheet_link_tag 'blueprint/screen'
    = stylesheet_link_tag 'blueprint/plugins/fancy-type/screen'
    = stylesheet_link_tag 'menu'
    = stylesheet_link_tag 'blueprint/plugins/buttons/screen'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui-1.8.9.custom.min'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body.container
    .login-info.right
      = render_widget 'login_info'
    #header.span-24.last
      %h1
        = image_tag('cd.jpeg')
        ART-O-THEK  - CD management
    %hr
    #sub-header.span-24.last
      %h3.alt The place to manage your bunch of CDs
    %hr
    #main-menu
      = render_widget 'main_menu'
    - if notice
      .success
        = notice
    - if alert
      .alert
        = alert
    #content.span-17.colborder
      = yield
    #sidebar.span-6.last
      #search
        = render_widget 'search_form'
      #recent-comments
        = render_widget :recent_comments
