!!!
%html
  %head
    %title Artothek
    = stylesheet_link_tag :all
    = csrf_meta_tag
  %body
    .login-info
      = render_widget 'login_info'
    .main-menu
      = render_widget 'main_menu'
    .notice
      = notice
    = yield
